<ion-view>
  <ion-header-bar class="bar-stable">
    <a class="button button-dark" href="#/request"><i class="fa fa-empire"></i></a>
    <h1 class="title">CoffeeNow!</h1>
    <a class="button button-clear" href="#/settings"><i class="fa fa-cogs"></i></a>
  </ion-header-bar>
  <ion-content class="padding">
    <button class="button button-energized button-large button-coffeenow"><i class="fa fa-coffee"></i></button>
    <p class="timer">
      30:00:00
    </p>
    <p class="location">
      Starbucks on 5th Ave
    </p>
  </ion-content>
</ion-view>
