<ion-view>
  <ion-header-bar class="bar-stable">
    <a class="button button-dark" href="#/"><i class="fa fa-empire"></i></a>
    <h1 class="title">CoffeeNow!</h1>
    <a class="button button-clear" href="#/settings"><i class="fa fa-cogs"></i></a>
  </ion-header-bar>
  <ion-content class="padding">
    <p class="timer">
      30:00:00
    </p>
    <p class="location">
      Starbucks on 5th Ave
    </p>
    <div class="list">
      <div class="item item-divider">
        With...
      </div>
      <a class="item item-avatar" href="#">
        <img src="img/avatars/tai.jpg">
        <h2>Tai Kamiya</h2>
        <p>In desparate need for a coffee!</p>
      </a>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/avatars/matt.jpg">
        <h2>Matt Ishida</h2>
        <p>Shut up and give me coffee!</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/avatars/sora.jpg">
        <h2>Sora Takenouchi</h2>
        <p>Coffee gives me strength!</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/avatars/izzy.jpg">
        <h2>Izzy Izumi</h2>
        <p>Need... More... Coffee...!</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/avatars/mimi.jpg">
        <h2>Mimi Tachikawa</h2>
        <p>Can I get a pumpkin spiced latte please?</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/avatars/joe.jpg">
        <h2>Joe Kido</h2>
        <p>You guys should stop drinking so much coffee...</p>
      </a>
    </div>
  </ion-content>
</ion-view>
