<ion-view>
  <ion-header-bar class="bar-stable">
    <a class="button button-clear" href="#/"><i class="fa fa-arrow-left"></i></a>
    <h1 class="title"><i class="fa fa-cogs"></i> Settings</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Your Name</span>
      <input type="text" placeholder="Peter Hansen">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Your Favourite Coffee Place</span>
      <input type="text" placeholder="Starbucks on 5th Ave">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Lat</span>
      <input type="decimal" placeholder="40.7747926">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Lng</span>
      <input type="decimal" placeholder="-73.9638991">
    </label>
  </div>
  </ion-content>
</ion-view>
